body {
  margin: 0;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.514);
  display: block;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

